
body {
	font: 16px arial;
}

#wrapper {
    display: block;
	      min-width: 810px;
    height: 100%;
    min-height: 600px;
}
#head ul {
    z-index: 2;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0 5px 0;
    padding: 0 96px 0 0;


}
#head ul a{
	float: left;
    color: #333;
    font-weight: bold;
    line-height: 24px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}
#head ul a:hover{
color: #00c;
}
#main  {
	
	text-align: center;
	margin-top:200px;
	
}


#form {
    margin: 22px auto 0;
    width: 648px;
    text-align: left;
    z-index: 100;
}


.input-box {
    border: 1px solid #b6b6b6;
    border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: 0;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    overflow: hidden;
   height:34px;
}

.input-text {
    width: 526px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px\9;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}
.bdyx-box{
	width: 97px;
    height: 34px;
    display: inline-block;
    background-position: -120px -48px;
    z-index: 0;
    vertical-align: top;
    width: auto;
    height: auto;
    border-bottom: 1px solid transparent;
}

.bdyx-text {
    width: 100px;
    height: 36px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input {
	    border: 0;
    padding: 0;
}



#footer {
text-align: center;
color:#999;

height: 100px;
    position: absolute;
    bottom: 23px;

    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#footer p {
    margin: 0;
    padding-top:10px;
    list-style: none;
}

#footer a {
	color:#999;
}

#footer a:hover{

	color:#00c;
}

 .c-icon-jgwablogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_0e814c16.png) no-repeat;
      background-position: -623px -96px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}

 .c-icon-icrlogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_0e814c16.png) no-repeat;
     background-position: -600px -96px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.kaozuo {
	width:700px;
display: inline-block;
    text-align: left;
    margin-left: 33px;
    line-height: 22px;
    position: relative;
    top: -2px;
}
